*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
.main{
    background-color: rgb(24, 128, 127);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
    width: 35rem;
    box-shadow: 0px 0px 5px grey;
    display: flex;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    flex-direction: column;
}
.col {
    text-align: justify;
    padding: 15px;
    width: 95%;
}

#submit{
    width: 100%;
    padding: 10px;
    font-size: 25px;
    color: white;
    cursor: pointer;
    background-color: rgb(47, 8, 73);
}


#submit:hover {
    background-color: rgb(34, 6, 53);
}